@model SGLPWEB.Models.DTO.EvidenciaDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Evidencia</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EvidenciaId" />
            <div class="form-group">
                <label asp-for="TareaId" class="form-label">Tarea relacionada</label>
                <select asp-for="TareaId" asp-items="@((SelectList)ViewData["TareaId"])" class="form-control"></select>
                <span asp-validation-for="TareaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreArchivo" class="control-label"></label>
                <input asp-for="NombreArchivo" class="form-control" />
                <span asp-validation-for="NombreArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RutaArchivo" class="control-label"></label>
                <input asp-for="RutaArchivo" class="form-control" />
                <span asp-validation-for="RutaArchivo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSubida" class="control-label"></label>
                <input asp-for="FechaSubida" class="form-control" />
                <span asp-validation-for="FechaSubida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
